In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [8]:
from sklearn import preprocessing

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
le  = preprocessing.LabelEncoder()

In [14]:
df["Sex"] = le.fit_transform(df["Sex"])

In [15]:
df["Embarked"] = le.fit_transform(df["Embarked"])

In [16]:
y1 = df["Survived"]

In [17]:
X1 = df.drop(["Survived","PassengerId","Cabin","Name","Ticket"],axis =1)

In [18]:
x_train , x_test , y_train ,y_test = train_test_split(X1,y1,test_size =0.3,random_state =12)

In [19]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.7377049180327869

In [20]:
confusion_matrix(y_test,y_pred)

array([[18,  5],
       [11, 27]], dtype=int64)

NOW DV = PCLASS , Remaning IDV

In [21]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,2

In [22]:
x2 =  df.drop(["PassengerId","Cabin","Name","Ticket","Pclass"],axis =1)

In [23]:
y2 = df["Pclass"]

In [24]:
x_train , x_test , y_train ,y_test = train_test_split(x2,y2,test_size =0.3,random_state =12)

In [25]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.8852459016393442

In [26]:
confusion_matrix(y_test,y_pred)

array([[52,  3,  0],
       [ 1,  1,  1],
       [ 1,  1,  1]], dtype=int64)

NOW DV = Gender , Remaning IDV

In [27]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,2

In [28]:
x3 =  df.drop(["PassengerId","Cabin","Name","Ticket","Sex"],axis =1)
y3 = df["Sex"]

In [29]:
x_train , x_test , y_train ,y_test = train_test_split(x3,y3,test_size =0.3,random_state =12)

In [30]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.7540983606557377

In [31]:
confusion_matrix(y_test,y_pred)

array([[24,  1],
       [14, 22]], dtype=int64)

NOW DV = Sibsp , Remaning IDV

In [32]:
x4 =  df.drop(["PassengerId","Cabin","Name","Ticket","SibSp"],axis =1)
y4 = df["SibSp"]

In [33]:
x_train , x_test , y_train ,y_test = train_test_split(x4,y4,test_size =0.3,random_state =12)

In [34]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.6229508196721312

In [35]:
confusion_matrix(y_test,y_pred)

array([[28,  3,  0,  0],
       [16, 10,  0,  0],
       [ 3,  0,  0,  0],
       [ 1,  0,  0,  0]], dtype=int64)

NOW DV = Parch , Remaning IDV

In [36]:
x5 =  df.drop(["PassengerId","Cabin","Name","Ticket","Parch"],axis =1)
y5 = df["Parch"]

In [37]:
x_train , x_test , y_train ,y_test = train_test_split(x5,y5,test_size =0.3,random_state =12)

In [38]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.7868852459016393

In [39]:
confusion_matrix(y_test,y_pred)

array([[42,  1,  0],
       [ 6,  2,  2],
       [ 2,  2,  4]], dtype=int64)

NOW DV = Embarked , Remaning IDV

In [40]:
x6 =  df.drop(["PassengerId","Cabin","Name","Ticket","Embarked"],axis =1)
y6 = df["Embarked"]

In [41]:
x_train , x_test , y_train ,y_test = train_test_split(x6,y6,test_size =0.3,random_state =12)

In [42]:
from sklearn.naive_bayes import *
clf = GaussianNB()
y_pred  = clf.fit(x_train,y_train).predict(x_test)
print(accuracy_score(y_test,y_pred,normalize=True))

0.32786885245901637

In [43]:
confusion_matrix(y_test,y_pred)

array([[ 9,  6,  4],
       [ 0,  1,  0],
       [11, 20, 10]], dtype=int64)