Question 3: Create your own Jupyter Notebook for Sets

Set is another data structure supported by Python. Basically, sets are same as lists but with a difference that sets are lists with a difference that sets are lists with no duplicate entries.Technically, a set is a mutable and an unoredred collection od items.This means that we can simply add or remove items from it.

Set Methods
Python has a set of built-in methods that you can use on sets.

Method                      Description

add()	                    Adds an element to the set

clear()                     Removes all the elements from the set

copy()	                    Returns a copy of the set

difference()	            Returns a set containing the difference between two or more sets

difference_update()	        Removes the items in this set that are also included in    another,specified set

discard()                   Remove the specified item

intersection()	            Returns a set, that is the intersection of two other sets

intersection_update()	    Removes the items in this set that are not present in other, 

isdisjoint()	            Returns whether two sets have a intersection or not

issubset()	                Returns whether another set contains this set or not

issuperset()	            Returns whether this set contains another set or not

pop()	                    Removes an element from the set

remove()	                Removes the specified element

symmetric_difference()	    Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	                   Return a set containing the union of sets

update()	                Update the set with the union of this set and others

Create a set

In [1]:
set = {"apple", "banana", "cherry"}
print(set)

{'cherry', 'banana', 'apple'}

Access Items

You cannot access items in a set by referring to an index like List, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [2]:
set = {"apple", "banana", "cherry"}
for x in set:
    print(x)

cherry
banana
apple

Check if apple is present in Set

In [3]:
set = {"apple", "banana", "cherry"}
print("apple" in set)

True

Change Items

We cannot change the items in a set,once a set is created but you can add new items.

Add Items

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [4]:
#adding an item to the set
set = {"apple", "banana", "cherry"}
set.add("strawberry")
print(set)

{'strawberry', 'cherry', 'banana', 'apple'}

In [5]:
#update
set = {"apple", "banana", "cherry"}


set.update(["orange", "mango", "grapes"])

print(set)

{'orange', 'banana', 'mango', 'grapes', 'cherry', 'apple'}

We can also get the length of a dataset

In [6]:
set = {"apple", "banana", "cherry"}
print(len(set))

3

Remove an item

We can also remove an item in a dataset by using the remove(), or the discard() method.

In [7]:
#Remove
set = {"apple", "banana", "cherry"}

set.remove("banana")

print(set)

{'cherry', 'apple'}

In [8]:
#Discard
set = {"apple", "banana", "cherry"}

set.discard("banana")

print(set)

{'cherry', 'apple'}

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [9]:
set = {"apple", "banana", "cherry"}

x = set.pop()

print(x)

print(set)

cherry
{'banana', 'apple'}

Clear()

The clear() method empties the set:

In [10]:
set = {"apple", "banana", "cherry"}

set.clear()

print(set)

set()

Del()

The del keyword will delete the set completely:

In [11]:
set = {"apple", "banana", "cherry"}

del set

print(set)

<class 'set'>

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another.Here we will see the joining of two sets with the help of union function

In [12]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

The set() Constructor

It is also possible to use the set() constructor to make a set.

In [13]:
set = set(("apple", "banana", "cherry"))
print(set)

{'cherry', 'banana', 'apple'}